* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: auto;
}

ul {
  list-style: none;
}

body {
  background-image: url(./img/background.png);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #0c0c0e;
}

body * {
  font-family: "inter", sans-serif;
  line-height: 160%;
}

header div {
  width: 100%;
  width: 100px;
  margin: 50px auto;
  border-radius: 50%;
  display: flex;
}

header img {
  width: 150px;
  height: 40px;
  margin-left: 550px;
  border-radius: 15%;
}

.esquerda {
  display: flex;
}

.corpo {
  display: flex;
}

.quadradosMaiores {
  display: flex;
  padding: 12px;
  margin: 7px;
  margin-left: 50px;
}

.quadradosMenores {
  display: flex;
  position: relative;
  padding: 30px;
  margin: -15px;
  margin-top: 8px;
  margin-left: 50px;
}

.oitavas {
  margin-right: 50px;
}

.grupos-direito {
  margin-right: 50px;
}

.quartas {
  padding: 4px;
  margin: -4px;
  margin-top: 200px;
}

.quartas-esquerda {
  margin-top: 0px;
}

.li-esquerda {
  margin-top: 30px;
}

.semifinal {
  margin: 20px;
  margin-top: 20px;
}

.semifinaldireita {
  margin: -42px;
  margin-top: -38px;
}

.final {
  margin-top: -200px;
  margin-right: 60px;
  display: block;
}

.rodape {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 100px;
  margin-top: -170px;
  opacity: 0.5;
}

.vinculoesquerdaCD {
  position: absolute;
  margin-left: 140px;
  margin-bottom: px;
}

.vinculoesquerdaAB {
  position: absolute;
  margin-left: 140px;
  margin-top: 95px;
}

.vinculoesquerdaABOitavas {
  position: absolute;
  margin-left: 110px;
}

.vinculoesquerdaABQuartas {
  position: absolute;
  margin-left: 94px;
}

.vinculoesquerdaEF {
  position: absolute;
  margin-left: -250px;
  margin-top: 95px;
}

.vinculoesquerdaGH {
  position: absolute;
  margin-left: -250px;
  margin-bottom: 95px;
}

.vinculoesquerdaEFOitavas {
  position: absolute;
  margin-left: -215px;
}

.vinculoesquerdaEHQuartas {
  position: absolute;
  margin-left: -209px;
}

.vinculocima {
  position: absolute;
  margin-left: 266px;
  margin-top: -20px;
}

.oitavasLeft {
  position: absolute;
  margin-left: 265px;
  margin-top: 85px;
}

.oitavasRight {
  position: absolute;
  margin-left: -240px;
  margin-top: 85px;
}

.quartasLeft {
  position: absolute;
  margin-left: 265px;
  margin-top: 70px;
}

.quartasRight {
  position: absolute;
  margin-left: -215px;
  margin-top: 70px;
}

.semiFinaisL {
  position: absolute;
  margin-left: 155px;
  margin-top: 25px;
}

.semiFinaisR {
  position: absolute;
  margin-left: -170px;
  margin-top: 25px;
}

.logofinal {
  display: flex;
  position: absolute;
  margin-top: -50px;
  margin-left: 870px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(167, 165, 165);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}
